<!DOCTYPE html>
<html>
  <head>
    <title>LoginDesignDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="usa-layout-docs usa-section" id="main-content">
      <div class="grid-container">
        <div class="usa-layout-docs__main usa-prose">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
